<!DOCTYPE html>
<html>
<head>
  <title>Sign-up or Login</title>
</head>
<body>
  <%= message %>
  <div>
    <h2>Create Profile</h2>
    <form action="/users" method="post">
      <label for="username">Username</label>
      <input type="text" name="username">

      <label for="email">Email</label>
      <input type="email" name="email">

      <label for="password">Password</label>
      <input type="password" name="password">
    </form>
  </div>

  <div>
    <h2>Login</h2>
    <form action="/users/login" method="post">
      <label for="username">Username</label>
      <input type="text" name="username">

      <label for="password">Password</label>
      <input type="password" name="password">
    </form>
  </div>

</body>
</html>
